
.option_screen_background{
    background-color: rgb(255, 255, 255);
    padding: 12px;
}

.option{
    background-color: rgb(209, 209, 209);
    padding: 5px;
    margin: 5px;
    max-width: 95%;
    transition: 0.3s;
}

.option:hover{
    padding: 10px;
    max-width: 97%;
}

.good-answer{
    background: rgb(5, 197, 5);
}
.wrong-answer{
    background: rgb(221, 0, 0);
}
