
.option_screen_background{
    border: rgb(167, 167, 167) solid 1px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    padding: 12px;
}

.option{
    border-radius: 10px;
    background-color: rgb(209, 209, 209);
    font-size: 18px;
    padding: 8px;
    margin: 15px;
    max-width: 95%;
    transition: 0.4s;
}

.option:hover{
    filter: brightness(80%);
}



.good-answer{
    background: rgb(5, 197, 5);
}
.wrong-answer{
    background: rgb(221, 0, 0);
}



.submit_button{
    border-radius: 10px;
    border: none;
    color: rgb(175, 175, 175);
    font-size: 23px;
    font-family: fantasy;
    padding: 13px;
    background-color: rgb(37, 37, 37);
    transition: 0.5s;
}

.submit_button:active{
    filter: brightness(80%);
}

.progress{
    margin-top: 20px;
}

.score{
    display:table-cell;
    vertical-align:bottom;
    text-align:center;
    border: 3px solid rgb(65, 65, 65);
    border-radius: 15px;
    padding: 10px;
    width: 30%;
    max-width: 50px;
}

.score-points{
    display:table-cell;
    text-align:center;
    font-weight: bold;
}

.score-bar{
    position: relative;
    overflow: hidden;
    display:table-cell;
    height: 20px;
    background-color: rgb(105, 105, 105);
    border-radius: 15px;
}

.score-on-bar{
    width: 60%;
    height: 100%;
    background-color: rgb(54, 180, 37);
    transition: all 0.2s;
}
